<mat-toolbar color="primary">
  <span>ServerManagerAndControl</span>
  <span class="spacer"></span>
  <a routerLink="/dashboard">Dashboard</a>
  <span class="spacer"></span>
  <button mat-raised-button color="warn" (click)="logout()">Выход</button>
</mat-toolbar>


<div class="container">
  <div class="row">
    <div class="col-md-4">
      <form [formGroup]="dashboardForm" >
        <mat-card>
          <mat-form-field class="full-width">
            <mat-label>address</mat-label>
            <input matInput formControlName="Link" placeholder="Введите адрес виртуальной машины">
          </mat-form-field>
          <button mat-raised-button (click)="onButtonClick()" color="primary" type="submit">Добавить машину</button>
        </mat-card>
      </form>
        <div class="mt-4">
          <h3>Список машин</h3>
          <mat-list>
            <mat-list-item *ngFor="let machine of machines" (click)="showMachineDetails(machine)" [ngClass]="{'selected-list-item': machine === selectedMachine}" class="border">
              <a (click)="$event.stopPropagation()">{{ machine.link }}</a>
              <button mat-button [matMenuTriggerFor]="menu" class="menu-button"><mat-icon>more_vert</mat-icon></button>
              <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="deleteMachine(machine); $event.stopPropagation()">Удалить</button>
              </mat-menu>
            </mat-list-item>
          </mat-list>
        </div>
    </div>
    <div class="col-md-8">
      <div *ngIf="selectedMachine">
        <button mat-raised-button color="primary" (click)="updateMachineData()">Обновить данные</button>
        <mat-card>
          <h3>Детали машины</h3>
          <pre>Load: {{ selectedMachine.load }} </pre>
          <pre>CpuUsage: {{ selectedMachine.cpuUsage }} %</pre>
          <pre>MemoryUsage: {{ selectedMachine.memoryUsage }} \ {{ selectedMachine.memoryFull }} GB</pre>
          <pre>DiskUsage: {{ selectedMachine.diskUsage }} \ {{ selectedMachine.diskFull }} GB</pre>
          <pre>NetworkTransmit: {{ selectedMachine.networkTransmit }} MB</pre>
          <pre>NetworkReceive: {{ selectedMachine.networkReceive }} MB</pre>
          <pre>{{ selectedMachine.data }}</pre>
        </mat-card>
      </div>
    </div>
  </div>
</div>
