<!--
<p>
  <mat-toolbar>
    <span>ServerManagerAndControl</span>
    <span class="spacer"></span>
    <button class="btn btn-danger" (click)="logout()">Выход</button>
  </mat-toolbar>
</p>

<div class="container">
  <div class="row">

    <div class="col-md-4">
      <div class="geturl">
        <input type="text" [(ngModel)]="inputValue" placeholder="Введите адрес виртуальной машины">
        <button class="btn" (click)="onButtonClick()">Добавить машину</button>
      </div>

      <div class="mt-4">
        <h3>Список машин</h3>
        <ul class="list-group">
          <li *ngFor="let machine of machines" class="list-group-item">
            <a href="javascript:void(0);" (click)="showMachineDetails(machine)">{{ machine.link }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-md-8">
      <div *ngIf="selectedMachine">
        <button (click)="updateMachineData()">Обновить данные</button>
        <h3>Детали машины</h3>
        <pre>Load: {{ selectedMachine.load}} </pre>
        <pre>cpuUsage: {{ selectedMachine.cpuUsage}} %</pre>
        <pre>memoryUsage: {{ selectedMachine.memoryUsage}} \ {{selectedMachine.memoryFull}} GB</pre>
        <pre>diskUsage: {{ selectedMachine.diskUsage}} \ {{ selectedMachine.diskFull}} GB</pre>
        <pre>networkTransmit: {{ selectedMachine.networkTransmit}} MB</pre>
        <pre>networkReceive: {{ selectedMachine.networkReceive}} MB</pre>
        <pre>{{ selectedMachine.data }}</pre>
      </div>
    </div>
  </div>
</div>
-->
<mat-toolbar color="primary">
  <span>ServerManagerAndControl</span>
  <span class="spacer"></span>
  <a routerLink="/dashboard">Dashboard</a>
  <span class="spacer"></span>
  <button mat-raised-button color="warn" (click)="logout()">Выход</button>
</mat-toolbar>

<div class="container">
  <div class="row">
    <div class="col-md-4">
      <mat-card>
        <mat-form-field class="full-width">
          <mat-label>address</mat-label>
          <input matInput [(ngModel)]="inputValue" placeholder="Введите адрес виртуальной машины">
        </mat-form-field>
        <button mat-raised-button color="primary" (click)="onButtonClick()">Добавить машину</button>
      </mat-card>

      <div class="mt-4">
        <h3>Список машин</h3>
        <mat-list>
          <mat-list-item *ngFor="let machine of machines" (click)="showMachineDetails(machine)" [ngClass]="{'selected-list-item': machine === selectedMachine}" class="border">
            <a>{{ machine.link }}</a>
          </mat-list-item>
        </mat-list>
      </div>
    </div>
    <div class="col-md-8">
      <div *ngIf="selectedMachine">
        <button mat-raised-button color="primary" (click)="updateMachineData()">Обновить данные</button>
        <mat-card>
          <h3>Детали машины</h3>
          <pre>Load: {{ selectedMachine.load }} </pre>
          <pre>CpuUsage: {{ selectedMachine.cpuUsage }} %</pre>
          <pre>MemoryUsage: {{ selectedMachine.memoryUsage }} \ {{ selectedMachine.memoryFull }} GB</pre>
          <pre>DiskUsage: {{ selectedMachine.diskUsage }} \ {{ selectedMachine.diskFull }} GB</pre>
          <pre>NetworkTransmit: {{ selectedMachine.networkTransmit }} MB</pre>
          <pre>NetworkReceive: {{ selectedMachine.networkReceive }} MB</pre>
          <pre>{{ selectedMachine.data }}</pre>
        </mat-card>
      </div>
    </div>
  </div>
</div>
