<div class="outer">
  <div class="container">
    <div class="row">
      <div class="offset-md-2 col-lg-5 col-md-7 offset-lg-4 offset-md-3">
        <mat-card>
          <mat-card-header>
            <mat-card-title>Вход</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <form [formGroup]="loginForm">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Username</mat-label>
                <input matInput formControlName="username" placeholder="Username" />
                <mat-error *ngIf="loginForm.controls['username'].dirty && loginForm.hasError('required','username')">
                  *Поле username обязательно
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Password</mat-label>
                  <input matInput formControlName="password" [type]="hide ? 'password' : 'text'" placeholder="Password" required/>
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>

                <mat-error *ngIf="loginForm.controls['password'].dirty  && loginForm.hasError('required','password')">
                  *Поле password обязательно
                </mat-error>
              </mat-form-field>

              <button mat-raised-button color="primary" (click)="onLogin()" class="w-100">Войти</button>
              <p class="text-center pt-4 text-muted"><a id="forget" routerLink="/signup">Регистрация</a></p>
            </form>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>

